<!DOCTYPE html>
<html lang="zh-cn" xmlns:v-for="http://www.w3.org/1999/xhtml" xmlns:v-blind="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>添加</title>
    <style type="text/css">
        table {margin-top: 30px;width: 100%;}
        .submit {float: right}
        .clear{float: right}
        tr td {text-align: left;}
    </style>
    <script src="../../js/jquery-3.4.1.min.js"></script>
    <script src="../../js/vue.js"></script>
</head>
<body>
<div style="font-size: 20px" class="one"><b>添加运行图信息：</b></div>
<form >
    <table id="train"><caption><b>列车运行信息添加:</b></caption>
        <tr><td>车次:</td><td><input type="text"></td><td>列车ID:</td><td><input type="name"></td></tr>
            <td>始发站:</td><td><select name="start_station" size="1">
                <option></option>
                <option v-for="city in cityList" >{{city.name}}</option>
            </select></td>
            <td>终点站:</td><td><select name="end_station" size="1">
                <option></option>
                <option v-for="city in cityList">{{city.name}}</option>
            </select></td>
        </tr>
        <tr><td>停站数：</td><td><input type="text"></td></tr>
        <tr><td>-----------------</td><td>-------------------------</td><td>------------------------</td><td>-------------------------</td></tr>
    </table>
    <input  style="margin: 20px 10px 0px 0px ;float: right" type="button" value="确认添加" class="submit">
    <input style="margin: 20px 10px 0px 0px ;float: right" type="button" value="清空" class="clear">

    <table style="width: 100%">
        <caption><b>经停城市信息添加</b></caption>
        <tr><td>车次id:</td><td><input type="text"></td></tr>
        <tr><td>经停城市：</td><td><select name="start_station" size="1">
            <option></option>
            <option v-for="city in cityList" >{{city.name}}</option>
        </select>
            </td> <td>到达时间：</td><td><input type="text"></td></tr>
        <tr><td>停留时间：</td><td><input type="text"></td><td>离开时间：</td><td><input type="text"></td></tr>
        <tr><td>该车次的第：</td><td><input type="text" size="1px">站</td><td>检票口：</td><td><input type="text"></td></tr>
        </table>
    <input  style="margin: 20px 10px 0px 0px ;float: right" type="button" value="确认添加" class="submit">
    <input style="margin: 20px 10px 0px 0px ;float: right" type="button" value="清空" class="clear">
</form>
</body>

<script>
    $(function () {
        var getCity=new Vue({
            el:"#train",
            data:{
                cityList:{},
            }
        })
        $.ajax({
            url:"http://localhost:8080/api/city/getAllcity",
            type:"post",
            dataType:"json",
            success:function (city) {
                getCity.cityList=city;
            }
        })
        $(".clear").click(function () {
            window.location.reload();
        })
        $(".submit").click(function () {
            alert("yes");
        })
    })
</script>
</html>